__pycache__/
OutputRoutes/*.jpg
OutputRoutes/*.jpeg
OutputRoutes/*.png
DataNova-Project1-CS179M-\__pycache__\tspOutputFileMaker.cpython-312.pyc
DataNova-Project1-CS179M-\__pycache__\DataVis.cpython-312.pyc